/* Assign text color and backround color */
$text-color: #3D3D3D;
$background-color: #6D6DD6;

body{
    color: $text-color;
    background-color: $background-color;
}

p {
    color: $text-color;
}

h2 {
    background-color: $background-color;
}
